<div class="grid">
    <div class="grid__item">
        <ldr-window>
            <div class="activate">
                <div class="activate__logo"><img src="./images/logo.svg" alt="Логотип"></div>
                <div class="activate__content">
                    <ldr-textbox [iconStart]="'key'" [placeholder]="'Press your key'"></ldr-textbox>
                    <ldr-button [pallete]="'purple'" [text]="'Activate the key'"></ldr-button>
                </div>
            </div>
        </ldr-window>
    </div>
    <div class="grid__item">
        <ldr-window>
            <div class="activate">
                <div class="activate__logo"><img src="./images/logo.svg" alt="Логотип"></div>
                <div class="activate__content">
                    <ldr-textbox [iconStart]="'key'" [placeholder]="'Press your key'"></ldr-textbox>
                    <ldr-button [pallete]="'purple'" [text]="'Activate the key'"></ldr-button>
                    <ldr-warning [text]="'Server connection close'"></ldr-warning>
                </div>
            </div>
        </ldr-window>
    </div>
</div>