<div class="grid">
    <div class="grid__item">
        <ldr-window>
            <div class="activate">
                <div class="activate__logo"><img src="./images/logo.svg" alt="Логотип"></div>
                <div class="activate__content">
                    <ldr-textbox [iconStart]="'key'" [placeholder]="'Press your key'"></ldr-textbox>
                    <ldr-button [pallete]="'purple'" [text]="'Activate the key'"></ldr-button>
                </div>
            </div>
        </ldr-window>
    </div>
    <div class="grid__item">
        <ldr-window>
            <div class="activate">
                <div class="activate__logo"><img src="./images/logo.svg" alt="Логотип"></div>
                <div class="activate__content">
                    <ldr-textbox [iconStart]="'key'" [placeholder]="'Press your key'"></ldr-textbox>
                    <ldr-button [pallete]="'purple'" [text]="'Activate the key'"></ldr-button>
                    <ldr-warning [text]="'Server connection close'"></ldr-warning>
                </div>
            </div>
        </ldr-window>
    </div>
    <div class="grid__item">
        <ldr-window>
            <div class="account">
                <div class="account__game">
                    <img src="./images/rust.svg" alt="Rust">
                    <h2>Rust</h2>
                </div>
                <div class="account__body">
                    <div class="account__details">
                        <ldr-details [caption]="'Status'" [value]="'Undetected'" [valueColor]="'rgba(38, 198, 81, 1)'"></ldr-details>
                        <ldr-details [caption]="'Expire'" [value]="'24d 14h 12m'"></ldr-details>
                        <ldr-details [caption]="'Last update'" [value]="'24/03/2025'"></ldr-details>
                    </div>

                    <ldr-button [pallete]="'purple'" [text]="'Start'"></ldr-button>
                </div>
            </div>
        </ldr-window>
    </div>
    <div class="grid__item">
        <ldr-window>
            <div class="account">
                <div class="account__game">
                    <img src="./images/rust.svg" alt="Rust">
                    <h2>Rust</h2>
                </div>
                <div class="account__body">
                    <div class="account__details">
                        <ldr-details [caption]="'Status'" [value]="'Undetected'" [valueColor]="'rgba(38, 198, 81, 1)'"></ldr-details>
                        <ldr-details [caption]="'Expire'" [value]="'24d 14h 12m'"></ldr-details>
                        <ldr-details [caption]="'Last update'" [value]="'24/03/2025'"></ldr-details>
                    </div>
                    <ldr-console>
                        <span #ref style="color: rgba(85, 192, 112, 1)">- Starting</span>
                        <span #ref style="color: white">- Loading 86%...</span>
                        <span #ref style="color: rgba(189, 77, 77, 1)">- Get boot part MP failed! -> 4h</span>
                    </ldr-console>
                    <ldr-button [pallete]="'purple'" [text]="'Start'"></ldr-button>
                </div>
            </div>
        </ldr-window>
    </div>
    <div class="grid__item">
        <ldr-window>
            <div class="account">
                <div class="account__game">
                    <img src="./images/rust.svg" alt="Rust">
                    <h2>Rust</h2>
                </div>
                <div class="account__body">
                    <div class="account__details">
                        <ldr-details [caption]="'Status'" [value]="'Undetected'" [valueColor]="'rgba(38, 198, 81, 1)'"></ldr-details>
                        <ldr-details [caption]="'Expire'" [value]="'24d 14h 12m'"></ldr-details>
                        <ldr-details [caption]="'Last update'" [value]="'24/03/2025'"></ldr-details>
                    </div>
                    <ldr-console>
                        <span #ref style="color: rgba(85, 192, 112, 1)">- Starting</span>
                        <span #ref style="color: rgba(85, 192, 112, 1)">- Loading 100%</span>
                        <span #ref style="color: rgba(85, 192, 112, 1)">- Wait for the PC to restart</span>
                    </ldr-console>
                    <ldr-info-bar [type]="'success'" [text]="'Reboot after 3...'"></ldr-info-bar>
                </div>
            </div>
        </ldr-window>
    </div>
    <div class="grid__item">
        <ldr-window>
            <div class="account">
                <div class="account__game">
                    <img src="./images/rust.svg" alt="Rust">
                    <h2>Rust</h2>
                </div>
                <div class="account__body">
                    <div class="account__details">
                        <ldr-details [caption]="'Status'" [value]="'Undetected'" [valueColor]="'rgba(38, 198, 81, 1)'"></ldr-details>
                        <ldr-details [caption]="'Expire'" [value]="'24d 14h 12m'"></ldr-details>
                        <ldr-details [caption]="'Last update'" [value]="'24/03/2025'"></ldr-details>
                    </div>
                    <ldr-console>
                        <span #ref style="color: rgba(85, 192, 112, 1)">- Starting</span>
                        <span #ref style="color: rgba(85, 192, 112, 1)">- Loading 100%</span>
                        <span #ref style="color: rgba(85, 192, 112, 1)">- Wait for the PC to restart</span>
                    </ldr-console>
                    <ldr-info-bar [type]="'success'" [text]="'Loading 53%...'"></ldr-info-bar>
                </div>
            </div>
        </ldr-window>
    </div>
    <div class="grid__item">
        <ldr-window>
            <div class="account">
                <div class="account__game">
                    <img src="./images/rust.svg" alt="Rust">
                    <h2>Rust</h2>
                </div>
                <div class="account__body">
                    <div class="account__details">
                        <ldr-details [caption]="'Status'" [value]="'Updating'" [valueColor]="'rgba(0, 178, 255, 1)'"></ldr-details>
                        <ldr-details [caption]="'Expire'" [value]="'24d 14h 12m'"></ldr-details>
                        <ldr-details [caption]="'Last update'" [value]="'24/03/2025'"></ldr-details>
                    </div>

                    <ldr-info-bar [type]="'info'" [text]="'Please wait update'"></ldr-info-bar>
                </div>
            </div>
        </ldr-window>
    </div>
    <div class="grid__item">
        <ldr-window>
            <div class="account">
                <div class="account__game">
                    <img src="./images/rust.svg" alt="Rust">
                    <h2>Rust</h2>
                </div>
                <div class="account__body">
                    <div class="account__details">
                        <ldr-details [caption]="'Status'" [value]="'Use own risk'" [valueColor]="'rgba(0, 178, 255, 1)'"></ldr-details>
                        <ldr-details [caption]="'Expire'" [value]="'24d 14h 12m'"></ldr-details>
                        <ldr-details [caption]="'Last update'" [value]="'24/03/2025'"></ldr-details>
                    </div>

                    <ldr-button [pallete]="'orange'" [text]="'Start → with risk'"></ldr-button>
                </div>
            </div>
        </ldr-window>
    </div>
</div>