@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../../public/fonts/Inter/Inter-Regular.woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../../public/fonts/Inter/Inter-Medium.woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../../public/fonts/Inter/Inter-SemiBold.woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../../public/fonts/Inter/Inter-Bold.woff2');
}