
<div style="display: flex; flex-direction: column; width: 400px; gap: 8px;">
    <ldr-button [pallete]="'purple'" [text]="'Activate the key'"></ldr-button>
    <ldr-button [pallete]="'purple'" [text]="'Activate the key'" [loading]="true"></ldr-button>
    <ldr-button [pallete]="'orange'" [text]="'Start → with risk'"></ldr-button>
    <ldr-button [pallete]="'orange'" [text]="'Start → with risk'" [loading]="true"></ldr-button>

    <ldr-info-bar [type]="'info'" [text]="'Please wait update'"></ldr-info-bar>
    <ldr-info-bar [type]="'success'" [text]="'Reboot after 3...'"></ldr-info-bar>

    <ldr-toolbar-button [icon]="'back'"></ldr-toolbar-button>
    <ldr-toolbar-button [icon]="'minimize'"></ldr-toolbar-button>
    <ldr-toolbar-button [icon]="'close'"></ldr-toolbar-button>
    <ldr-toolbar-button [icon]="'copy'"></ldr-toolbar-button>
    <ldr-toolbar-button [icon]="'key'"></ldr-toolbar-button>

    <ldr-textbox [placeholder]="'Press your key'" [iconStart]="'key'"></ldr-textbox>
</div>