.warning {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 10px 0;
    color: rgba(189, 77, 77, 1);

    // .warning__icon

    &__icon {
        --size: 16px;
    }

    // .warning__text

    &__text {
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2%;
    }
}
