.toolbar-button {
    --icon-color-default: rgba(147, 147, 147, 1);
    --icon-color-hover: rgba(215, 215, 215, 1);
    --icon-color-active: rgba(118, 38, 198, 1);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    border: none;
    background: unset;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    padding: 0;
    margin: 0;
    --icon-color: var(--icon-color-default);

    &:hover {
        --icon-color: var(--icon-color-hover);
    }

    &:active {
        --icon-color: var(--icon-color-active);
    }

    // .toolbar-button__icon

    &__icon {
        color: var(--icon-color);
        --size: 24px;
    }
}
